<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body style="font-family:Arial;background:#f2f2f2;padding:20px;">
<div style="background:white;padding:30px;max-width:500px;margin:auto;border-radius:8px;">
    <h2>Password Reset</h2>

    <p>Hello <b th:text="${name}"></b>,</p>

    <p>Your password has been reset.</p>

    <p><b>New Password:</b></p>
    <h3 style="color:#d63384" th:text="${password}"></h3>

    <p>Please change it after login.</p>

    <p>Winz Ecommerce Team</p>
</div>
</body>
</html>
